@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>William Botha - Skill Showcase</h1>
</div>
<hr />
<h1>Project Details</h1>
<hr />
<h6>.NET 8</h6>
<h6>Entity Framework (Migrations & CRUD data usage)</h6>
<h6>Bootstrap</h6>
<h6>Basic CSS Styling</h6>
@* <h6>Frontend Frameworks Listed Below</h6> *@
<br />
<div class="align-content-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Language/Skill</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-controller="Home" asp-action="Net" class="btn btn-primary">HTML/JavaScript/jQuery</a></td>
                <td><a asp-controller="Home" asp-action="Angular" class="btn btn-danger">Angular</a></td>
            </tr>
        </tbody>
    </table>
</div>









